.todo {
  &__form {
    display: flex;
    justify-content: center;
    &-input {
      font-size: 18px;
      padding: 7px 7px;
      border-width: 1px;
      border-color: initial;
      border-radius: 5px;
      margin-right: 10px;
      &:focus,
      &:hover {
        transition: all 0.3s ease-in-out;
        padding: 7px 10px;
      }
    }
    &-btn {
      border: none;
      border-radius: 5px;
      padding: 9px 32px;
      cursor: pointer;
      font-size: 18px;
      line-height: 30px;
      background: rgba(54, 54, 54, 0.9);
      color: white;
      &:hover,
      &:active {
        background: rgba(54, 54, 54, 1);
        transition: all 0.2s ease;
      }
    }
  }
}
